<h2 class="h2-messages clearfix">33 Messages / <strong>3 New</strong> <a data-placement="bottom" data-animation="am-slide-bottom" data-template="app/partials/panels/messages.html" bs-aside="aside" data-container=".page-wrapper">view all</a> <button type="button" class="btn btn-default pull-right">Create Message</button></h2>

<div class="message-pane clearfix" ng-controller="MessagesController">

  <div class="well pull-left clearfix">

    <img src="bootflat/img/icon-triangle.png" width="12" height="31" class="left-triangle">
    <img src="bootflat/img/icon-triangle.png" width="12" height="31" class="right-triangle">

    <div class="col-md-3 pull-left message-person">

      <h3>Shirley Marks</h3>
      <small>Jan. 23 2014 8:15am</small>

      <button type="button" class="btn btn-flat">Clinical Data</button>

    </div>

    <div class="col-md-9 pull-right message-body">

      <p>Her HgA1c results recently spiked. They’re over 7%. Called her to talk about what happened. Blizzard in her area prevented her from leaving the house and going to the grocery store. As a result, she ended up eating poorly and not exercising. Have a feeling her medication adherence is down. Need to… <a>Read the rest (5 lines)</a></p>

    </div>

  </div>

</div>