
<section class="section-history section-content">

    <div data-ng-include="'app/partials/profile.html'"></div>

    <div class="clearfix">
    
      <aside class="aside-navigation col-md-3 col-sm-12 col-xs-12 pull-left" role="navigation" data-ng-include data-src="'app/partials/navigation.html'"></aside>

      <div class="article-panel col-md-9 col-sm-12 col-xs-12 pull-right clearfix">

          <div class="article-wrapper">

            <img src="bootflat/img/history.png" class="patient-history-image">

          </div>

      </div>

    </div>

</section>

