
.mp-pusher {
  position: relative;
  left: 0;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);

  &.mp-pushed {
    -webkit-transform: translate3d(300px, 0, 0);
       -moz-transform: translate3d(300px, 0, 0);
            transform: translate3d(300px, 0, 0);
  }
}

.mp-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  z-index: 201;
  background: transparent;
}



.menu {
  position: absolute; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  background: #555;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.menu-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.menu-inner::after,
.menu-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
  z-index: 200;
}

.mp-pusher::after,
.menu-inner::after {
  background: rgba(0,0,0,0.25);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.menu-inner::after {
  z-index: -1;
}

.mp-pusher.mp-pushed::after,
.menu-inner.menu-inner-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu-inner.menu-inner-overlay {
  cursor: pointer;
}

.menu-inner.menu-inner-overlay.menu-inner::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-pusher,
.menu-inner {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mp-overlap .menu-inner.menu-inner-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.menu > .menu-inner,
.menu > .menu-inner.menu-inner-open,
.menu.mp-overlap > .menu-inner,
.menu.mp-overlap > .menu-inner.menu-inner-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .menu-inner.menu-inner-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mp-cover .menu-inner.menu-inner-open > ul > li > .menu-inner:not(.menu-inner-open) {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}






.mp-menu {
  position: absolute; /* we can't use fixed here :( */
  top: 0;
  left: 0;
  z-index: 1;
  width: 320px;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1 !important;
  background: #fff;
  -webkit-transform: translate3d(330px, 0, 0);
  -moz-transform: translate3d(330px, 0, 0);
  transform: translate3d(330px, 0, 0);
}

.mp-level::after,
.mp-level::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.mp-level::after {
  background: rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
  z-index: 2;
}

.mp-level.mp-level-overlay::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-level {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  -webkit-transform: translate3d(330px, 0, 0);
  -moz-transform: translate3d(330px, 0, 0);
  transform: translate3d(330px, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

.mp-menu {

  h2 { 
    margin: 1rem 0.8rem 1rem; 
    color: #666;
  }

  h3 {
    margin: 0.5rem 0.8rem 0.8rem;
    color: #777;
    font-size: 1.375rem;

    a {
      display: block;
      width: 0.875rem;
      height: 0.875rem;
      background: url(../img/icon-close.png) no-repeat;
      background-size: 0.875rem 0.875rem;
    }
  }

  .mp-back {
    margin-bottom: 1px;
    padding-left: 2rem;
    color: #fff;
    background: #999;

    &:after {
      left: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #ffffff;
      border-width: 6px;
      margin-top: -6px;
    }
  }

  ul {
    margin: 0 0 1rem;
  }

  li {
    margin-bottom: 2px;
    list-style: none;
    color: #9B9B9B;
    font-size: 0.875rem;   

    a {
      position: relative;
      padding: 0.625rem 1.5rem;
      display: block;
      height: auto;
      color: #9B9B9B;
      font-size: 1.1em;
      font-weight: 400;
      background: #F6F6F6;

      &.arrow:after {
        right: 1rem;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(153, 153, 153, 0);
        border-left-color: #999;
        border-width: 6px;
        margin-top: -6px;
      }

      &:hover {
        color: #fff;
        background: $darkGrey;

        &.arrow:after {
          color: #fff;
          border-left-color: #fff;
        }
      }

    }
  }
}


.nav-left {

  .menu-inner {
    padding: 1rem;
    color: #ddd;
    background: #555;
    -webkit-box-shadow: inset -1px 0px 10px 0px rgba(0,0,0,0.5);
       -moz-box-shadow: inset -1px 0px 10px 0px rgba(0,0,0,0.5);
            box-shadow: inset -1px 0px 10px 0px rgba(0,0,0,0.5);

    h3 {
      padding-bottom: 1rem;
      font-size: 1.125rem;
      line-height: 2rem;
      border-bottom: 1px solid $borderGrey;

      img { margin-right: 0.4rem; }
    }

    a {
      color: #aaa;

      &:hover, &.active {
        color: #fff;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0.4rem;
      border-bottom: 1px solid $darkGrey;

      li {
        list-style: none;
        font-size: 1.375rem;
        line-height: 2.75rem;

        a {
          padding: 0.5rem;
          display: block;
          height: 100%;
        }
      }

      &.logout {
        border-bottom: none;
      }
    }
  }
}


.close-filter {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  color: #666;
  font-size: 2.25rem;
  z-index: 20;
  opacity: 0.2;
  background: transparent;
  border: 0;

  &:hover { opacity: 0.5; }
}