

  .module-list {
    margin-top: 0.5rem;
    border-top: 1px solid #ddd;
    
    li {
      position: relative;
      padding: 0.85rem 1rem 1rem;
      color: #888;
      list-style: none;
      border-bottom: 1px dashed #aaa;

      &:last-child {
        border-bottom: none;
      }

      header {
        width: 60%;

        h2 {
          margin: 0 0 0.625rem;
          color: #666;
          font: {
            size: 1.125rem;
            weight: 300;
          }
          line-height: 1.25;

          strong {
            font-weight: 400;
          }

          a:hover {
            color: #666;
            text-decoration: underline;
          }
        }
      }

      footer {
        position: relative;
        width: 38%;

        .btn-group-justified {
          margin-top: 1.25rem;
        }

        dl {
          padding-right: 0;
        }

        dl.pull-left {
          width: 60%;
        }

        dl.pull-right {
          width: 40%;
          text-align: right;
        }

        p {
          margin: 0 0 .5rem;
          font-size: 1rem;
          line-height: 1.25;
        }

        .state-buttons {
          position: absolute;
          top: 3rem;
          left: 0;

          img {
            margin-right: 0.4rem;
            opacity: 0.5;

            &.selected { opacity: 1; }
          }

          span {
            position: relative;
            top: 3px;
            font-size: 0.9375rem;
          }
        }
      }
    }

    .bar {
      margin: 0 0 0.5rem;
    }

    .bar li { 
      padding: 0;
      height: 0.625rem;
      border-bottom: none;
    }
  }


  .table-grey {
    margin: 0 0 2rem; 
    width: 100%;
    border-collapse: collapse;

    .date, 
    .code { width: 18%; }

    th { padding: 0.5rem 1rem; } 
    td { padding: 1rem; }

    th {
      color: #999;
      font-size: 0.75rem;
      font-weight: normal;
      text-transform: uppercase;
      background: #F5F5F5;
    }

    td {
      color: #777;
      border-bottom: 1px dashed $borderGrey;

      &.td-image {
        text-align: right;
      }
    }

    tfoot td {
      border-bottom: none;
    }
  }


.timeline {
  margin-bottom: 3rem;
  display: table;
  width: 100%;

  li {
    display: table-row;   
  }

  .timeline-date {
    float: none;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px dashed #ccc;

    p {
      vertical-align: middle;

      span { display: block; }
    }
  }

  .timeline-event {
    position: relative;
    float: none;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px dashed #ccc;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      background: $grayDark;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -1rem;
      margin-top: -1rem;
      width: 2rem;
      height: 2rem;
      background: #868585;
      z-index: 1;
      border: 6px solid #9B9B9B;
      border-radius: 50%;
    }

    div {
      position: relative;
      margin: 2rem 0 2rem 3rem;
      padding: 1rem;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -2.5rem;
        width: 2rem;
        height: 1px;
        background: $grayDark;
        z-index: 1;
      }

      p {
        display: inline-block;
      }

      span {
        margin-right: 2rem;
        display: inline-block;
        color: #777;
      }
    }
  }
}
