$mobile: "mobile";
$tablet: "tablet";
$desktop: "desktop";

// old
$grayDark: #9b9b9b;
$yellowDark: #F6B23D;



$lightGrey: #f7f7f7;
$darkGrey: #999;
$borderGrey: #bbb;

$hotColor: #F6B23D !important; 
$hotBg: #F6B23D !important; 
$hotText: #E69813 !important;
$linkColor: #666;
$linkHover: #333;

$btnPrimary: transparent;
$btnPrimaryHover: transparent;
$btnPrimaryBorder: #ccc;

$btnDefault: #F4F8FF;
$btnDefaultHover: #E7F0FF;
$btnDefaultBorder: #88B5FF;
