<div class="aside" tabindex="-1" role="dialog">

  <div class="panel-content panel-rollup clearfix">

        <header>

            <button type="button" class="close" ng-click="$hide()">&times;</button>
        
            <h1><strong>{{ lab.title }}</strong></h1>

            <div class="dl-group clearfix">
                <dl>
                    <dt>Started</dt>
                    <dd>June 7th, 2013</dd>
                </dl>
                <dl>
                    <dt>Ended</dt>
                    <dd>March 28, 2014</dd>
                </dl>
                <dl>
                    <dt>Last Reviewed On</dt>
                    <dd>November 14th, 2013</dd>
                </dl>
            
                <dl>
                    <dt>Type</dt>
                    <dd>Prescription</dd>
                </dl>
                <dl>
                    <dt>Schedule</dt>
                    <dd>1 Tablet Daily</dd>
                </dl>
            </div>

        </header>

        <footer class="clearfix">

            <div class="col-md-7 pull-left">

                <h2>Vitals</h2>

                <table class="table-grey">
                    <tr>
                        <th>Prescription Dates</th>
                        <th>Prescriber</th>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                </table>    

            </div>

            <div class="col-md-5 pull-right">

                <h2>Background <small>via Fancy Medical Resource (FMR)</small></h2>

                <div ph-txt="3p"></div>

                <p><a>Read more</a></p>

            </div>    

        </footer>

    </div>

</div>
