<div class="aside" tabindex="-1" role="dialog">

  <div class="panel-content panel-rollup panel-playlists clearfix">

        <header>

            <img src="bootflat/img/icon-close.png" class="close-panel-bottom" width="24" height="24" ng-click="$hide()">
        
            <h1><strong>{{ playlist.title }}</strong></h1>

        </header>

        <div class="image-replacement">
            <img src="bootflat/img/playlists.png">
        </div>

        <!--

            <div class="table">

                <div class="table-row table-playlist clearfix">

                    <div class="table-cell cell-info">

                        <div class="dl-group clearfix">
                            <dl>
                                <dt>Patients</dt>
                                <dd>{{ playlist.patients }}</dd>
                            </dl>

                            <dl>
                                <dt>Steps</dt>
                                <dd>{{ playlist.steps }}</dd>
                            </dl>

                            <dl>
                                <dt>Effectiveness</dt>
                                <dd>{{ playlist.effectiveness }}%</dd>
                            </dl>
                        </div>

                        <div class="dl-group clearfix">
                            <dl>
                                <dt>Completed</dt>
                                <dd>57</dd>
                            </dl>

                            <dl>
                                <dt>Created</dt>
                                <dd>3/24/13</dd>
                            </dl>
                        </div>


                        <h4>{{ playlist.goal }}</h4>
                        <p>Help patients achieve and maintain a healthy weight via classes, information, and regular progress checks</p>

                    </div>

                    <div class="table-cell cell-steps">

                        <h3>Steps</h4>

                        <div>
                            <img src="bootflat/img/playlist-step{{ playlist.stepPosition }}.png">
                        </div>

                    </div>

            </div>

            </div>

        </header>

        <footer class="clearfix">

            <div class="col-md-5 pull-left">

                <div class="dl-group clearfix">
                    <dl>
                        <dt>Step 4</dt>
                        <dd>Brochure: Low Glycemic Foods</dd>
                    </dl>
                </div>

                <div ph-txt="1p"></div>

                <img src="bootflat/img/icon-brochure.png" width="474" height="366">

            </div>

            <div class="col-md-6 pull-right">

                <h3>Patients</h3>

            </div>


        </footer>

    -->

    </div>

</div>
