<div class="aside" tabindex="-1" role="dialog">

  <div class="panel-content panel-rollup clearfix">

        <header>

            <img src="bootflat/img/icon-close.png" class="close-panel-bottom" width="24" height="24" ng-click="$hide()">
        
            <h1 ng-hide="patient.hotspot"><strong>{{ row.entity.title }}</strong></h1>

            <h1 ng-show="patient.hotspot" class="hot-color"><strong>Screen Clinical Depression</strong></h1>

            <div class="well">
                <div class="dl-group dl-group-full clearfix">
                    <dl>
                        <dt>Started</dt>
                        <dd>3/15/13</dd>
                    </dl>
                    <dl>
                        <dt>Ended</dt>
                        <dd>3/15/13</dd>
                    </dl>
                    <dl>
                        <dt>Reviewed On</dt>
                        <dd>3/16/13</dd>
                    </dl>
                
                    <dl>
                        <dt>Type</dt>
                        <dd>Prescription</dd>
                    </dl>
                    <dl>
                        <dt>Schedule</dt>
                        <dd>1 Tablet Daily</dd>
                    </dl>
                    <dl>
                        <dt>Prescriber</dt>
                        <dd>Tomas Lindberg<br>Gates Family Physicians<br>925 Gates Rd,<br>Wacken, FL 46305<br>612.459.0385</dd>
                    </dl>
                    <dl>
                        <dt>Common Side Effects</dt>
                        <dd>Gastro-intestinal discomfort</dd>
                    </dl>
                    <dl>
                        <dt>Alternatives <small>(if&nbsp;any)</small></dt>
                        <dd>Lifestyle changes</dd>
                    </dl>
                </div>
            </div>

        </header>

        <footer class="clearfix">

            <div class="col-md-6 col-sm-12 col-xs-12 pull-left">

                <h2>Prescribed</h2>

                <table class="table-grey">
                    <tr>
                        <th>Date</th>
                        <th>Prescriber</th>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                    <tr>
                        <td>2/4/14</td>
                        <td>Dr. Frank Labella</td>
                    </tr>
                </table>    

            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 pull-right">

                <h2>Background <small>via Fancy Medical Resource (FMR)</small></h2>

                <div ph-txt="3p"></div>

                <p><a>Read more</a></p>

            </div>    

        </footer>

       
    </div>

</div>
