<div class="aside" tabindex="-1" role="dialog">

  <div class="panel-content panel-rollup clearfix">

        <header>

            <img src="bootflat/img/icon-close.png" class="close-panel-bottom" width="24" height="24" ng-click="$hide()">
        
            <h1 ng-hide="patient.hotspot"><strong>{{ row.entity.title }}</strong></h1>

            <h1 ng-show="patient.hotspot" class="hot-color"><strong>HgA1c Blood Sugar Test</strong></h1>

        </header>


        <div class="image-replacement">
            <img src="bootflat/img/lab-rollup.png">
        </div>

    </div>

</div>
