<div class="aside" tabindex="-1" role="dialog">

  <div class="panel-content panel-rollup clearfix">

        <header>

            <img src="bootflat/img/icon-close.png" class="close-panel-bottom" width="24" height="24" ng-click="$hide()">
        
            <h1><strong>{{ row.entity.title }}</strong> <button type="button" class="btn-spacer btn btn-default">Create Task</button> <button type="button" class="btn btn-primary">Hotspot</button></h1>

        </header>

        <div class="image-replacement">
            <img src="bootflat/img/condition-rollup.png">
        </div>

    </div>

</div>
