<div class="aside aside-new" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-body">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3>Snooze Task</h3>
        <ul>
          <li><a ng-click="snooze('Today')">Later Today</a></li>
          <li><a ng-click="snooze('Tomorrow')">Tomorrow</a></li>
          <li><a ng-click="snooze('2 Days from now')">2 Days from now</a></li>
          <li><a ng-click="snooze('Next Week')">Next Week</a></li>
          <li><a ng-click="snooze('Pick Day')">Pick Day</a></li>
        </ul>
        <button type="button" class="btn btn-default" ng-click="$hide()">Done</button>
      </div>
    </div>
  </div>
</div>
