<div class="aside aside-new" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-body">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3>Hello, Modal!</h3>
        <ul>
          <li><a>Link 1</a></li>
          <li><a>Link 2</a></li>
          <li><a>Link 3</a></li>
        </ul>
        <button type="button" class="btn btn-default btn-full" ng-click="$hide()">Done</button>
      </div>
    </div>
  </div>
</div>
